---
---

@import 'bootswatch/variables';

#splash {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  background: $brand-success;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;

  & > img {
    width:100%;
  }

}

#features {
  text-align:center;
}

